*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headerall{
display: flex;
  justify-content: space-between;
}
main{
padding: 70px 0px;
background-color: rgba(44, 44, 44, 0.807);
font-family:"Montserrat",sans-serif;
font-size:  30px;
}
.test{
    gap: 20px;
}